<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Editar Usuario: {{ object.nombre }}</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'editar_usuario' object.id  %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col col-md-3">
                        {{ form.nombre.label }}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ form.nombre }}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        {{ form.login.label }} 
                    </div>
                    <div class="col-12 col-md-9">
                        {{ form.login }}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        {{ form.tipo.label }} 
                    </div>
                    <div class="col-12 col-md-9">
                        {{ form.tipo }}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        {{ form.password.label }}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ form.password }}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        {{ form.correo.label }}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ form.correo }}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        {{ form.usuario.label }}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ form.usuario }}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        {{ form.elimina.label }}
                    </div>
                    <div class="col-12 col-md-9">
                        {{ form.elimina }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Actualizar</button>
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </form>        
    </div>
</div>